{include file="Public/head" /}
	<link rel="stylesheet" href="__CSS__/index.css" />
	<script type="text/javascript" src='__JS__/index.js'></script>
</head>
<body>
	<!-- top -->
	{include file="Public/top" /}
	<!-- top -->
	<div class='main'>
		<div id='left'>
			<p class='left-title'>所有问题分类</p>
			<ul class='left-list'>
				{volist name="allcate" id="allcate"}
				<li class='list-l1'>
					<div class='list-l1-wrap'>
						<h4><a href="__APP__/List/index/cid/{$allcate.cid}">{$allcate.title}</a></h4>
						<ul class='list-l2'>
							{volist name="allcate['down']" id="down" offset="0" length="3"}
							<li><a href="__APP__/List/index/cid/{$down.cid}">{$down.title}</a></li>
							{/volist}
						</ul>
					</div>

					<div class='list-more hidden'>
						<ul>
							{volist name="allcate['down']" id="down" offset="3"}
							<li><a href="__APP__/List/index/cid/{$down.cid}">{$down.title}</a></li>
							{/volist}
						</ul>
					</div>
				</li>
				{/volist}
			</ul>
		</div>

		<div id='center'>
			<div id='animate'>
				<div class='imgs-wrap'>
					<ul>
						<li>
							<a href=""><img src="__IMAGES__/animate1.jpg" width='558' height='190'/></a>
						</li>
						<li>
							<a href=""><img src="__IMAGES__/animate2.jpg" width='558' height='190'/></a>
						</li>
						<li>
							<a href=""><img src="__IMAGES__/animate3.jpg" width='558' height='190'/></a>
						</li>
					</ul>
				</div>
				<ul class='ani-btn'>
					<li class='ani-btn-cur'>画眉潭<i></i></li>
					<li>新校门<i></i></li>
					<li style='border:none'>图书馆<i></i></li>
				</ul>
			</div>

			<dl class='answer-list'>
				<dt>
					<span class='wait-as'>待解决问题</span>
					<a href=''>更多>></a>
				</dt>
				{volist name="noSolvel" id="no"}
					<dd>
						<a href="__APP__/Show/index/asid/{$no.asid}/cid/{$no.cid}">{$no.content}</a>
						<span>{$no.answer}回答</span>
					</dd>
				{/volist}
			</dl>

			<dl class='answer-list'>
				<dt>
					<span class='reward-as'>高分悬赏问题</span>
					<a href=''>更多>></a>
				</dt>
				{volist name="noSolvelH" id="noH"}
					<dd>
						<a href="__APP__/Show/index/asid/{$noH.asid}/cid/{$noH.cid}"><b>{$noH.reward}</b>{$noH.content}</a>
						<span>{$noH.answer}回答</span>
					</dd>
				{/volist}
			</dl>

		</div>
		<!-- 右侧 -->
		{include file="Public/right" /}
		<!-- ---右侧结束---- -->
	</div>
<!--------------------内容主体结束-------------------->
	<div class='clear'></div>
	
<!-- 底部 -->
{include file="Public/foot" /}
<!-- 底部结束 -->