<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{$Think.config.WEBNAME}</title>
	<meta name="keywords" content="{$Think.config.KEYWORDS}"/>
	<meta name="description" content="{$Think.config.DISCRIPTION}"/>
	<link rel="stylesheet" href="__CSS__/common.css" />
	<link rel="shortcut icon" href="__PUBLIC__/Home/Images/favicon.ico" />
	<link rel="bookmark" href="__PUBLIC__/Home/Images/favicon.ico" />
	<script type="text/javascript" src='__JS__/jquery-1.7.2.min.js'></script>
	<script type="text/javascript" src='__JS__/top-bar.js'></script>
	<script type="text/javascript">
		var APP = '__APP__';
	</script>
	<script type="text/javascript" src='__JS__/validate.js'></script>