{include file="Public/head"/}
	<link rel="stylesheet" href="__CSS__/member.css" />
</head>
<body>
	<!-- top -->
	{include file="Public/top"/}
	<!-- top结束 -->
<!--------------------中部-------------------->
	<div id='center'>
<!-- 左侧 -->
{include file="Public/left"/}
<!-- 左侧结束 -->
		<div id='right'>
	
			<p class='title'>{$rank}的首页</p>

			<ul class='property'>
				<li>金币：<span>{$leftInfo.point}</span></li>
				<li>经验值：<span>{$leftInfo.exp}</span></li>
				<li>采纳率：<span>{$leftInfo.ratio}%</span></li>
			</ul>
			<div class='list'>
				<p><span>{$rank}的提问 <b>(共{$leftInfo.ask}条)</b></span><a href="{:url('Member/my_ask',['uid'=>$leftInfo['uid']])}">更多>></a></p>
				<table>
					{if condition = "$leftInfo['ask'] eq 0"}
						<tr height='140'>
							<td>你还没有进行过提问</td>
						</tr>
					{else/}
						<tr>
							<th class='t1'>标题</th>
							<th>回答数</th>
							<th class='t3'>更新时间</th>
						</tr>
						{volist name="askShow" id="askShow"}
							<tr>
								<td class='t1'>
									<a href="{:url('Show/index',['asid'=>$askShow['asid'],'cid'=>$askShow['cid']])}">{$askShow.content}</a><span>&nbsp;&nbsp;[{$askShow.title}]</span>
								</td>
								<td>{$askShow.answer}</td>
								<td class='t3'>{$askShow.time|date="Y-m-d",###}</td>
							</tr>
						{/foreach}
					{/if}
				</table>
			</div>
			<div class='list'>
				<p><span>{$rank}的回答 <b>(共{$leftInfo.answer}条)</b></span><a href="{:url('Member/my_answer',['uid'=>$leftInfo['uid']])}">更多>></a></p>
				<table>
					  {if condition = "$leftInfo['answer'] eq 0"}
							<tr height='140'>
								<td>你还没有进行过回答</td>
							</tr>
	                  {else/}
							<tr>
								<th class='t1'>标题</th>
								<th>回答</th>
								<th class='t3'>更新时间</th>
							</tr>
						{volist name="answerShow" id="answerShow"}
							<tr>
								<td class='t1'>
									<a href="{:url('Show/index',['asid'=>$answerShow['asid'],'cid'=>$answerShow['cid']])}">{$answerShow.content}</a><span>&nbsp;&nbsp;[{$answerShow.title}]</span>
								</td>
								<td>{$answerShow.answer}</td>
								<td class='t3'>{$answerShow.time|date="Y-m-d",###}</td>
							</tr>
						{/volist}
	 				  {/if}
				</table>
			</div>
		</div>
	</div>
<!--------------------中部结束-------------------->

<!--------------------底部-------------------->
<!-- 底部 -->
{include file="Public/foot"/}
<!-- 底部结束 -->