{include file="Public/head"/}
	<link rel="stylesheet" href="__CSS__/member.css" />
	<link rel="stylesheet" href="__CSS__/face.css">

</head>
<body>
	<!-- top -->
	{include file="Public/top"/}
	<!-- top结束 -->
<!--中部-->
	<div id='center'>
<!-- 左侧 -->
{include file="Public/left"/}
<!-- 左侧结束 -->
		<div id='right'>
			<p class='title'>头像上传</p>
			<ul class='ask-filter'>
			</ul>
			<div class='imgface_box'>
				<img src="__PUBLIC__/{$face}" id="preview">
				<form action="__APP__/Member/my_face/uid/{$Think.get.uid}" method="POST" enctype="multipart/form-data">
					<input type="file" name="face" id="face" >
					<input type="submit" value="上传头像" id="sub">
				</form>
				<p>支持JPG、PNG、GIF图片类型，不能大于5M。推荐尺寸：180PX*180PX</p>
			</div>
		</div>
	</div>
<!-- 底部 -->
{include file="Public/foot"/}
<!-- 底部结束 -->