<include file="Public/head"/>
	<link rel="stylesheet" href="__CSS__/member.css" />
	<script type="text/javascript" src='__JS__/member.js'></script>
</head>
<body>
	<!-- top -->
<include file="Public/top"/>
<!-- top结束 -->
<!--------------------中部-------------------->
	<div id='center'>
<!-- 左侧 -->
<include file="Public/left"/>
<!-- 左侧结束 -->
		<div id='right'>
			<p class='title'>{$rank}的金币</p>
			<p class='lv-info'>
					<if condition = "$point eq 0">
					您还没有金币，赶紧向着高富帅去奋斗吧！
					<else/>
					您现有金币<span>{$point}</span>
					</if>
			</p>
			<div class='lv-rule'>
				<p><span>金币获取</span></p>
				<table class='lv-exp'>
					<tr>
						<th>操作</th>
						<th>获得金币</th>
					</tr>
					<tr>
						<td>回答</td>
						<td>+{$Think.config.GOLD_ANSWER}金币</td>
					</tr>
					<tr>
						<td>回答被采纳</td>
						<td>+{$Think.config.GOLD_ACCEPT}金币</td>
					</tr>
					<tr>
						<td>回答被删除：</td>
						<td>-{$Think.config.GOLD_DEL_ANSWER}金币</td>
					</tr>
					<tr>
						<td>提问被删除：</td>
						<td>-{$Think.config.GOLD_DEL_ASK}金币</td>
					</tr>
					<tr>
						<td>采纳回答被删除</td>
						<td>提问者：-{$Think.config.GOLD_DEL_ASK}金币&nbsp;&nbsp;回答者：-{$Think.config.GOLD_DEL_ANSWER}金币</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
<!--------------------中部结束-------------------->
<!-- 底部 -->
<include file="Public/foot">/
<!-- 底部结束 -->